<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link type="text/js" href="passengerinfo.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
  </head>
  <body>
   <div id=wrapper>
    <div id="container" class="grid-container">
      <div id="top" class="grid-item">
        <i id="plane" class="far fa-paper-plane"></i>
        <p id="compname">ZoZo Flights</p>

        <p id="about">About</p>

        <div id="dropdown" class="dropdown">
          <button id="buttoncol" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </button>
         <div id="menu" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a id="signin" class="dropdown-item" href="#">Signed in as: <br> Zayneel <i id="astro" class="fas fa-user-astronaut"></i> </a>
          <a id="droplogin"class="dropdown-item" href="#">Login</a>
          <a id="dropsign" class="dropdown-item" href="#">Signup</a>
          <a id="dropsignout" class="dropdown-item" href="#">Signout</a>
         </div>
        </div>
      </div>
      <div id="body" class="grid-item">
        <%= image_tag("cloud.jpg", :alt => "rss feed", :id => 'picture') %>


                <!-- Grid column -->
              </script>
<style type="text/css">
.login-form {
  width: 340px;
    margin: 50px auto;
}
  .login-form form {
    margin-bottom: 15px;
      background: #f7f7f7;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 30px;
  }
  .login-form h2 {
      margin: 0 0 15px;
  }
  .form-control, .btn {
      min-height: 38px;
      border-radius: 2px;
  }
  .btn {
      font-size: 15px;
      font-weight: bold;
  }
</style>
</head>
<body>

<div id="customerinfo" class="login-form">
  <form id="bookform" >
      <h2 id="passinfotext" class="text-center">Passenger Details:</h2>
      <div class="form-group">
          <input id="email1" type="text" class="form-control" placeholder="Enter Email" required="required">
      </div>
      <div class="form-group">
          <input id="name" type="text" class="form-control" placeholder="Enter Name" required="required">
      </div>
      <div class="form-group">
          <button id="submit" type="submit" class="btn btn-primary btn-block">Confirm Booking</button>
      </div>
      <div class="clearfix">
          <a href="#" id="createacc" class="pull-right">Create an Account?</a>
      </div>
  </form>

</div>



      </div>

      <div id="flightpick1" class="list-group">
  <a href="#" id="pick1" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 id="citypass1" class="mb-1"></h5>
      <h5 id="city-" class="mb-1"> - </h5>
      <h5 id="citypass2" class="mb-1"></h5>
      <h5 id="timepass" class="mb-1">12h 42m</h5>
      <h5 id="datepass" class="mb-1">April 1st</h5>
      <small id="pricepass">$760</small>
    </div>
    <p id="airline" class="mb-1">Zanlandia Airlines</p>
  </a>

</div>

      <div id="footer" class="grid-item">
        <p id="foottext1"> © 2019 ZoZo Flights, Inc.</p>
        <p id="foottext2"> Find the cheapest and best flight for you!</p>
        <i id="git" class="fab fa-github"></i>
        <i id="linkedin" class="fab fa-linkedin"></i>
        <i id="email" class="far fa-envelope"></i>

      </div>
    </div>
  </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="text/javascript" src="flights_main.js"></script>
</html>
